typing_extensions==4.15.0
shapely==2.1.2
numpy==2.3.4
git+https://github.com/glacier-project/machine-data-model.git@feature/frost_message_builder
git+https://github.com/glacier-project/frost-planner.git@develop
